.download_btn {
	float: right;
	height: 14px;
	width: 14px;
	margin: 9px 10px 6px 0px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/Download_Arrow_Blue.png');
	background-repeat: no-repeat;
}

.newWidth {
	width: 300px !important;
}

#audio.new .audio.current.over .area .download_btn {
	background-image: url('chrome-extension://__MSG_@@extension_id__/Download_Arrow_White.png');
}

.audio.over .actions .download_btn:hover {
    background-image: url('chrome-extension://__MSG_@@extension_id__/Download_Arrow_Dark_Blue.png');
}